.o-steps {
  display:flex;
  justify-content: space-evenly;
  .m-stepitem {
    &:last-child {
      margin-bottom: 0;

      .m-stepitem_process {
        &:before,
        &:after {
          display: none;
        }
      }
    }
  }
}
