.o-section2 {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 6px 9.8px 0.2px $BOXSHADOW-SECTION;
  padding: 32px 42px;
  display: block;
  margin-right: auto ;
  width:100%;
  

  @include tab {
    padding: 25px 30px;
  }

  @include sp {
    padding: 32px 15px;
    width:100%;
  }

  &-usediv {
    box-shadow: none;
  }

  &-nobackground {
    background-color: transparent;
    box-shadow: none;
  }

  &-nopadding {
    padding: 0;
  }
  &-padding5 {
    padding: 11px;
  }

  &-nomargin {
    margin: 0;
  }

  &-height {
    margin: 0;
    height: 100%;
    padding: 22px 32px;
  }
  &-howconnect {
    margin-bottom: 7px;
    // height: 140px;
    padding: 10px;
    background: linear-gradient(100.65deg, #FFC794 3.6%, #FFAC7D 108.46%);
    // box-shadow: 0px 11px 27px rgba(0, 0, 0, 0.1);
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    display:flex;
  }
  &-howsettup {
    margin-bottom: 7px;
    // height: 140px;
    padding: 10px;
    background: linear-gradient(100.84deg, #C58FEF -13.53%, #FF643C 96.6%);
    // box-shadow: 0px 11px 27px rgba(0, 0, 0, 0.1);
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    display:flex;
  }

}

